@charset "UTF-8";

.icon-action{
	background-color:transparent;
	border:none;
	outline:none;
	cursor:pointer;
}

.icon-see i{
	display:block;
	text-align:center;
	cursor:pointer;
	width:100px;
	text-decoration:none;
	color:black;
	padding:5px 20px;
}

.icon-see i:hover{
	background-color:black;
	color:white;
	border-radius:20px;
}

.btn-pdf{
	border:var(--blanco);
	background-color: #D51818;
	border:none;
	color:var(--blanco);
	display:flex;
	gap:10px;
	align-items:center;
	outline:none;
	border-radius:5px;
	font-weight:500;
	padding:10px 20px;
}

.btn-excel{
	border:var(--blanco);
	background-color: #014301;
	border:none;
	color:var(--blanco);
	display:flex;
	gap:10px;
	align-items:center;
	outline:none;
	border-radius:5px;
	font-weight:500;
	padding:10px 20px;
}

.btn-agregar{
	border:var(--blanco);
	background-color: #EFB810;
	border:none;
	color: #333;
	display:flex;
	gap:10px;
	align-items:center;
	outline:none;
	border-radius:5px;
	font-weight:500;
	padding:10px 20px;
}

.en-venta{
	color:var(--verde);
	background-color: rgb(1,167,79,12%);
}

.desactivado{
	color:var(--rojo);
	background-color: rgb(213,24,24,12%);
}
.desactivado::before{
	background-color:var(--rojo);
}

.en-venta, .desactivado{
	font-size:14px;
	font-weight:600;
	width:150px;
	display:flex;
	align-items:center;
	justify-content:center;
	gap:20px;
	padding:2px 5px;
	border-radius:20px;
}

.regresar{
	display:flex;
	align-items:center;
	justify-content:center;
}

.regresar a{
	display:flex;
	align-items:center;
	gap:10px;
	background-color:var(--amarillo) !important;
	color:black;
	padding:5px 15px;
	border-radius:10px;
}

.regresar a i, .regresar a{
	font-weight:600;
}

.img-menu{
	width: 50px;
	height: auto;
	border-radius: 5px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 auto;
}

thead{
	background-color: #E0E0E0!important;
	height: 50px;
}

th,td{
	vertical-align: middle;
	text-align: center!important;
}

.page-link{
	color: #333!important;
}

.i_eliminar {
	color: var(--rojo);
}
