@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 800;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#sidebar {
    margin:10px;
    padding-bottom: 20px;
    width: 180px;
    height: 98%;
    border-radius:20px;
    transition: all 0.35s ease-in-out;
    background-color: var(--verde);
    display: flex;
    z-index: 99;
    flex-direction: column;
    position: fixed;
    left:0;
}

#sidebar.collapsed{
	position:absolute;
	height:100vh;
	left:-170px;
    transition: all 0.35s ease-in-out;
}

#sidebar.collapsed #toggle{
	transition: all 0.35s ease-in-out;
	transform: rotate(180deg);
	
}

.sidebar-nav {
    flex: 1 1 auto;
    display:flex;
    flex-direction:column;
    gap:25px;
}

.sidebar-logo {
	position:relative;
    text-align: center;
    width:150px;
    margin-left: 15px;
    margin-right: 15px;
}

.sidebar-logo img{
	width:100%;
    height:100%;
}

#toggle{
    width: 50px;
    height: 50px;
	font-size:2rem;
	background-color: white;
        border-radius: 50px;
	outline:none;
	position:absolute;
	right:-50px;
	display:flex;
	justify-content:center;
	top:40%;
        padding: 7px;
}


.navbar-logo a {
	color:black;
    font-weight: 800;
    font-size: 1.5rem;
    text-decoration:none;
}

.sidebar-logo a {
	color:white;
    font-weight: 800;
    font-size: 1.5rem;
    text-decoration:none;
}

a.sidebar-link {
	height:52px;
	text-align:center;
    padding: .625rem 1.625rem;
    color: #fff;
    position: relative;
    transition: all 0.35s;
    font-size: 18px;
    font-weight: 800;
    display: block;
}

.hidden{
	display:none;
}

a.sidebar-link:hover {
    background-color: var(--blanco);
    border-radius: 30px 0 0 30px;
    color:black;
    font-size:16px;
    justify-content: start !important;
    span{
    	display:flex;
    }
    
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

@media (min-width: 0px) and (max-width: 767px) { 
    .telefono-ocultar {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .tablet-ocultar {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1920px) {
    .monitor-ocultar {
        display: none;
    }
}

@media (max-width:768px) {



}