@charset "UTF-8";

main {
	display:flex;
	flex-direction:row;
	width:100%;
	min-height:100vh;
}

.main-content{
	width:100%;
}

.mesa {
	background: #f3f3f3;
	border: 2px solid lightgray;
	padding: 10px;
	height: 200px;
	width: 300px;
}

.seleccionar_mesa_titulo {
	background: var(--verde);
	color: #ffffff;
	font-size: 2rem;
}

.opciones_busqueda_mesa {
	font-size: 1rem;
	padding: 10px;
	
}

.busqueda_mesa {
	font-size: 3rem;
	padding: 20px;
}

@media (min-width: 992px){
	.opciones_busqueda_mesa{
		font-size: 1.2rem;
		width: 75%;
	}
}
