@charset "UTF-8";




.pedidos_div {
	background: var(--verde);
	border: 10px solid #FFD700;
	color: var(--blanco);
	text-align: center;
	padding: 20px;
	font-size: 7em;
	margin-top: 20px;
}
body{
	background-color: var(--rojo);
}
.aniadir_pedido {
	padding: 40px;
	border-radius: 20px;
	background: var(--blanco);
	border: none;
	position: relative;
/* 	top: 19%; */
/* 	left: 14%; */
/* 	width: 70px; */
	font-size: 4em;
	color: black;
	outline: none;
	text-decoration: none;
}

