@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body{
	 background-color: red;
}

.pedidos_div {
	background: var(--verde);
	border: 10px solid #FFD700;
	color: var(--blanco);
	text-align: center;
	padding: 20px;
	font-size: 7em;
	margin-top: 20px;
}

.aniadir_pedido {
	padding: 40px;
	border-radius: 20px;
	background: var(--verde);
	border: none;
	position: absolute;
	top: 19%;
	left: 14%;
	width: 700px;
	font-size: 4em;
}
