@charset "UTF-8";

body {
	background-color: #f8f8f8;
}


.titulo_inventario {
	background: black;
	color: white;
	text-align: center;
	font-size: 2rem;
	padding: 10px;
}

.completado {
	position: absolute;
	top: 20px;
	right: 10px;
	background: #ceffd0;
	border-radius: 6px;
	font-size: 0.9rem;
	padding: 2px;
	padding-left:6px;
}

.overflow_tabla{
	height: 100px;
	overflow: scroll;
}

.inventario_imagen {
    width: 100%;
}