@charset "UTF-8";

.pedidos_div {
	background: var(--verde);
	color: var(--blanco);
	text-align: center;
	padding: 20px;
	font-size: 4em;
	margin-top: 20px;
}

.aniadir_pedido {
	border-radius: 20px;
}

.mesa_numero {
	background-color: var(--verde);
	color: white;
	width: 40px;
	padding: 6px;
	border-radius: 5px;
}

.pedido_especifico_numero_pedido {
	position: absolute;
	font-size: 0.7rem;
	top: 40px;
	left: 63px;
}

.completado {
	position: absolute;
	top: 20px;
	right: 10px;
	background: #ceffd0;
	border-radius: 6px;
	font-size: 0.9rem;
	padding: 2px;
	padding-left: 6px;
}

.overflow_tabla {
	height: 100px;
	overflow: scroll;
}

body {
	min-height:100vh;
	transition: all 0.35s ease-in-out;
}

.box_mesa{
	width:200px;
	position:relative;
}

.img_mesa span{
	top: 20%;
    position: absolute;
    right: 50%;
    transform: translate(50%, 50%);
    background-color:white;
    border-radius:30px;
    font-weight:600;
    padding:5px 10px;
    border:1px solid black;
    cursor:pointer;
}

.img_mesa{
	width:100%;
}

.box_mesa input{
	appearance:none;
}

.img_mesa>img{
	object-fit:cover;
	width:200px;
	filter: drop-shadow(0 0 0.75rem #000);
}

@media ( min-width : 1px) {
	.aniadir_pedido {
		margin-bottom: 10px;
	}
}

@media ( min-width : 768px) {
	.row {
		height: 60vh;
	}
}