@charset "UTF-8";

.detalle_pedido_div {
	background: var(--verde);
	border: 10px solid #FFD700;
	color: var(--blanco);
	text-align: center;
	padding: 20px;
	font-size: 7em;
	margin-top: 20px;
}

.circulito {
	position: relative;
}

.number {
	position: absolute;
	right: 9px;
	top: 2px;
}

.toggle_tabla_detalle_pedidos_nada {
	display: none;
}

.toggle_tabla_detalle_pedidos {
	display: block;
}

/*@media queries*/
@media ( min-width : 576px) {
	
	.boton_deta_pedi {
		width: 1000px;
	}
}
@media ( min-width : 1200px) {
	
	.boton_deta_pedi {
		width: 100px;
	}
}