@charset "UTF-8";

.detalle_pedido_div {
	font-weight: 600;
	background: var(--verde);
	color: var(--amarillo);
	text-align: center;
	padding: 10px;
	font-size: 4em;
	margin-top: 20px;
}

.circulito {
	position: relative;
}

.number {
	position: absolute;
	right: 9px;
	top: 2px;
}

.toggle_tabla_detalle_pedidos_nada {
	display: none;
}

.toggle_tabla_detalle_pedidos {
	display: block;
}

.fondo_verde_productos {
	background: var(--verde);
	border: 10px solid #FFD700;
	padding: 20px;
}

.estilo_btn_1 {
	background: var(--amarillo);
	color: var(--verde);
	text-decoration: none;
	transition: all 0.5s ease 0s;
	border-radius: 20px;
	font-size: 16px;
	font-weight: 600;
}

.estilo_btn_1:hover {
	background: var(--verde);
	color: var(--blanco);
	transform: translateY(-8px);
}

.card_plato {
	padding: 10px;
	
}
.card_body_plato{
	width: 100%;
}

/*@media queries*/
@media ( min-width : 1px) {
	.contenedor_cards {
		width: 300px;
	}
}

@media ( min-width : 576px) {
	.boton_deta_pedi {
		width: 1000px;
	}
}

@media ( min-width : 768px) {
	.contenedor_cards {
		width: 100%;
	}
}

@media ( min-width : 1200px) {
	.boton_deta_pedi {
		width: 100px;
	}
}