<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Proceso3</display-name>
    <servlet-name>Proceso3</servlet-name>
    <servlet-class>Proceso3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Proceso3</servlet-name>
    <url-pattern>/Proceso3</url-pattern>
  </servlet-mapping>
  <display-name>ProyectoRestauranteChino</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProcesoMesa</display-name>
    <servlet-name>ProcesoMesa</servlet-name>
    <servlet-class>controlador.ProcesoMesa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesoMesa</servlet-name>
    <url-pattern>/ProcesoMesa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarData</display-name>
    <servlet-name>EliminarData</servlet-name>
    <servlet-class>controlador.mesa.EliminarData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarData</servlet-name>
    <url-pattern>/EliminarData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgregarMesa</display-name>
    <servlet-name>AgregarMesa</servlet-name>
    <servlet-class>controlador.mesa.AgregarMesa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgregarMesa</servlet-name>
    <url-pattern>/AgregarMesa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarMesa</display-name>
    <servlet-name>EditarMesa</servlet-name>
    <servlet-class>controlador.mesa.EditarMesa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarMesa</servlet-name>
    <url-pattern>/EditarMesa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CargarPedido</display-name>
    <servlet-name>CargarPedido</servlet-name>
    <servlet-class>controlador.pedido.AdmiPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarPedido</servlet-name>
    <url-pattern>/CargarPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvAgregarTrabajador</display-name>
    <servlet-name>SvAgregarTrabajador</servlet-name>
    <servlet-class>controlador.trabajador.SvAgregarTrabajador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvAgregarTrabajador</servlet-name>
    <url-pattern>/SvAgregarTrabajador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEliminarTrabajador</display-name>
    <servlet-name>SvEliminarTrabajador</servlet-name>
    <servlet-class>controlador.trabajador.SvEliminarTrabajador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEliminarTrabajador</servlet-name>
    <url-pattern>/SvEliminarTrabajador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEditarTrabajador</display-name>
    <servlet-name>SvEditarTrabajador</servlet-name>
    <servlet-class>controlador.trabajador.SvEditarTrabajador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEditarTrabajador</servlet-name>
    <url-pattern>/SvEditarTrabajador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvConsultarTrabajador</display-name>
    <servlet-name>SvConsultarTrabajador</servlet-name>
    <servlet-class>controlador.trabajador.SvConsultarTrabajador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvConsultarTrabajador</servlet-name>
    <url-pattern>/SvConsultarTrabajador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvValoresInput</display-name>
    <servlet-name>SvValoresInput</servlet-name>
    <servlet-class>controlador.trabajador.SvValoresInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvValoresInput</servlet-name>
    <url-pattern>/SvValoresInput</url-pattern>
  </servlet-mapping>
</web-app>