<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Proceso3</display-name>
    <servlet-name>Proceso3</servlet-name>
    <servlet-class>Proceso3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Proceso3</servlet-name>
    <url-pattern>/Proceso3</url-pattern>
  </servlet-mapping>
  <display-name>ProyectoRestauranteChino</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProcesoMesa</display-name>
    <servlet-name>ProcesoMesa</servlet-name>
    <servlet-class>controlador.ProcesoMesa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesoMesa</servlet-name>
    <url-pattern>/ProcesoMesa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarData</display-name>
    <servlet-name>EliminarData</servlet-name>
    <servlet-class>controlador.mesa.EliminarData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarData</servlet-name>
    <url-pattern>/EliminarData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgregarMesa</display-name>
    <servlet-name>AgregarMesa</servlet-name>
    <servlet-class>controlador.mesa.AgregarMesa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgregarMesa</servlet-name>
    <url-pattern>/AgregarMesa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarMesa</display-name>
    <servlet-name>EditarMesa</servlet-name>
    <servlet-class>controlador.mesa.EditarMesa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarMesa</servlet-name>
    <url-pattern>/EditarMesa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CargarPedido</display-name>
    <servlet-name>CargarPedido</servlet-name>
    <servlet-class>controlador.pedido.AdmiPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarPedido</servlet-name>
    <url-pattern>/CargarPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvAgregarTrabajador</display-name>
    <servlet-name>SvAgregarTrabajador</servlet-name>
    <servlet-class>controlador.trabajador.AgregarTrabajador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvAgregarTrabajador</servlet-name>
    <url-pattern>/SvAgregarTrabajador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEliminarTrabajador</display-name>
    <servlet-name>SvEliminarTrabajador</servlet-name>
    <servlet-class>controlador.trabajador.EliminarTrabajador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEliminarTrabajador</servlet-name>
    <url-pattern>/SvEliminarTrabajador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvEditarTrabajador</display-name>
    <servlet-name>SvEditarTrabajador</servlet-name>
    <servlet-class>controlador.trabajador.EditarTrabajador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvEditarTrabajador</servlet-name>
    <url-pattern>/SvEditarTrabajador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvConsultarTrabajador</display-name>
    <servlet-name>SvConsultarTrabajador</servlet-name>
    <servlet-class>controlador.trabajador.AdmiTrabajador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvConsultarTrabajador</servlet-name>
    <url-pattern>/SvConsultarTrabajador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvValoresInput</display-name>
    <servlet-name>SvValoresInput</servlet-name>
    <servlet-class>controlador.trabajador.SvValoresInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvValoresInput</servlet-name>
    <url-pattern>/SvValoresInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmiMenu</display-name>
    <servlet-name>AdmiMenu</servlet-name>
    <servlet-class>controlador.menu.AdmiMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmiMenu</servlet-name>
    <url-pattern>/AdmiMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarMenu</display-name>
    <servlet-name>BuscarMenu</servlet-name>
    <servlet-class>controlador.menu.BuscarMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarMenu</servlet-name>
    <url-pattern>/BuscarMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControlador</display-name>
    <servlet-name>LoginControlador</servlet-name>
    <servlet-class>controlador.LoginControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControlador</servlet-name>
    <url-pattern>/LoginControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrabajadorPedido</display-name>
    <servlet-name>TrabajadorPedido</servlet-name>
    <servlet-class>controlador.pedido.TrabajadorPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrabajadorPedido</servlet-name>
    <url-pattern>/TrabajadorPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrabajadorMenu</display-name>
    <servlet-name>TrabajadorMenu</servlet-name>
    <servlet-class>controlador.menu.TrabajadorMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrabajadorMenu</servlet-name>
    <url-pattern>/TrabajadorMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutControlador</display-name>
    <servlet-name>LogoutControlador</servlet-name>
    <servlet-class>controlador.LogoutControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutControlador</servlet-name>
    <url-pattern>/LogoutControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccesoIncorrecto</display-name>
    <servlet-name>AccesoIncorrecto</servlet-name>
    <servlet-class>controlador.AccesoIncorrecto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccesoIncorrecto</servlet-name>
    <url-pattern>/AccesoIncorrecto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmiDetallePedido</display-name>
    <servlet-name>AdmiDetallePedido</servlet-name>
    <servlet-class>controlador.pedido.AdmiDetallePedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmiDetallePedido</servlet-name>
    <url-pattern>/AdmiDetallePedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarPedido</display-name>
    <servlet-name>EliminarPedido</servlet-name>
    <servlet-class>controlador.pedido.EliminarPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarPedido</servlet-name>
    <url-pattern>/EliminarPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarPedido</display-name>
    <servlet-name>EditarPedido</servlet-name>
    <servlet-class>controlador.pedido.EditarPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarPedido</servlet-name>
    <url-pattern>/EditarPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgregarCliente</display-name>
    <servlet-name>AgregarCliente</servlet-name>
    <servlet-class>controlador.cliente.AgregarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgregarCliente</servlet-name>
    <url-pattern>/AgregarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrabajadorMesa</display-name>
    <servlet-name>TrabajadorMesa</servlet-name>
    <servlet-class>controlador.mesa.TrabajadorMesa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrabajadorMesa</servlet-name>
    <url-pattern>/TrabajadorMesa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarDetalle</display-name>
    <servlet-name>EliminarDetalle</servlet-name>
    <servlet-class>controlador.pedido.EliminarDetalle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarDetalle</servlet-name>
    <url-pattern>/EliminarDetalle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgregarDetalle</display-name>
    <servlet-name>AgregarDetalle</servlet-name>
    <servlet-class>controlador.pedido.AgregarDetalle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgregarDetalle</servlet-name>
    <url-pattern>/AgregarDetalle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarDetalle</display-name>
    <servlet-name>EditarDetalle</servlet-name>
    <servlet-class>controlador.pedido.EditarDetalle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarDetalle</servlet-name>
    <url-pattern>/EditarDetalle</url-pattern>
  </servlet-mapping>
</web-app>