@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/*Defini los colores para poder trabajar más rápido*/
:root {
	--rojo: #D51818;
	--amarillo: #FFC700;
	--verde: #01A74F;
	--blanco: #f9f9f9;
	--gray:#E1E1E1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}