@charset "UTF-8";
/*Defini los colores para poder trabajar más rápido*/
:root {
	--rojo: #D51818;
	--amarillo: #FFD700;
	--verde: #014301;
	--blanco: #FFFFFF;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}

body {
	background-color: var(--blanco);
}

.restaurante_nombre {
	color: var(--amarillo);
	font-size: 52px;
	margin: 20px;
}